<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generador de archivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-label position="stacked">
        <ion-card-title>A continuación escribe el texto que deseas guardar</ion-card-title>
      </ion-label>
      <ion-textarea [(ngModel)]="text" placeholder="Aquí tu texto..."></ion-textarea>
    </ion-item>
  
    <ion-button color="warning" expand="full" (click)="saveFile()">Guardar como Archivo de texto</ion-button>
    
    <div *ngIf="message" class="message">
      <p>{{ message }}</p>
    </div>

  </ion-card>
  
</ion-content>
