<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de ecuaciones cuadráticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="raiz">
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Ingresa el valor de a</ion-label>
        <ion-input type="number" [(ngModel)]="a" name="a" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">ingresa el valor de b</ion-label>
        <ion-input type="number" [(ngModel)]="b" name="b" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ingresa el valor de c</ion-label>
        <ion-input type="number" [(ngModel)]="c" name="c" required></ion-input>
      </ion-item>
      <ion-button color="success" expand="full" type="submit">Calcular Raíces</ion-button>
    </form>

    <div *ngIf="result" class="result">
      <h2>Resultado:</h2>
      <p>{{ result }}</p>
    </div>
  </div>

</ion-content>
