<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GITHUB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SHAMYR SEBASTIAN QUISHPE CUADRADO</ion-card-title>
      <ion-card-subtitle>Otra foto de mi xd</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="content-container">
        <img src="/assets/images/pruebadam2.jpg" alt="foto" class="profile-image">
        <div class="text-content">
          A continuación el repositorio del proyecto en GITHUB:
          <ion-button color="success" (click)="boton2()">Pulsa Aquí</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
